<ul class="list-group">
  <li class="list-group-item">View Device Details: <strong>Single Click</strong></li>
  <li class="list-group-item">Add new Device: <strong>Double Click</strong></li>
  <li class="list-group-item">Edit Device: <strong>Right Click</strong></li>
  <li class="list-group-item">Delete Device: <strong>Double Click</strong></li>
</ul>
