<div class="card">
  <div class="card-header">
    Filter Map Content
  </div>
  <ul class="list-group list-group-horizontal-xl">

    <% for (const device of deviceClasses) { %>
      <li class="list-group-item">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="mapFilter.<%=device.name%>.input" checked>
          <label class="form-check-label" for="mapFilter.<%=device.name%>.input">
            <%=device.filter%>
          </label>
        </div>
      </li>
    <% } %>

    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.all.input" checked>
        <label class="form-check-label" for="mapFilter.all.input">
          Show All
        </label>
      </div>
    </li>
    
  </ul>
</div>
