<div class="card">
  <div class="card-header">
    Filter Map Content
  </div>
  <ul class="list-group list-group-horizontal-xl">
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.camera.input" checked>
        <label class="form-check-label" for="mapFilter.camera.input">
          Show Cameras
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.ap.input" checked>
        <label class="form-check-label" for="mapFilter.ap.input">
          Show Access Points
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.mdf.input" checked>
        <label class="form-check-label" for="mapFilter.mdf.input">
          Show MDFs
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.idf.input" checked>
        <label class="form-check-label" for="mapFilter.idf.input">
          Show IDFs
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.security.input" checked>
        <label class="form-check-label" for="mapFilter.security.input">
          Show Security
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.phone.input" checked>
        <label class="form-check-label" for="mapFilter.phone.input">
          Show Phones
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.printer.input" checked>
        <label class="form-check-label" for="mapFilter.printer.input">
          Show Printers
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.speaker.input" checked>
        <label class="form-check-label" for="mapFilter.speaker.input">
          Show Speakers
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.temperature.input" checked>
        <label class="form-check-label" for="mapFilter.temperature.input">
          Show Thermometers
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.tv.input" checked>
        <label class="form-check-label" for="mapFilter.tv.input">
          Show TVs
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="mapFilter.ip-speaker.input" checked>
        <label class="form-check-label" for="mapFilter.ip-speaker.input">
          Show IP Speakers
        </label>
      </div>
    </li>
  </ul>
</div>
