<div class="card">
  <div class="card-body">
    <h5 class="card-title">Theme</h5>

    <div class="btn-group" role="group" aria-label="Theme Group">
      <input type="radio" class="btn-check" name="radioThemeGroup" id="radioThemeDark" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="radioThemeDark">Dark</label>

      <input type="radio" class="btn-check" name="radioThemeGroup" id="radioThemeLight" autocomplete="off">
      <label class="btn btn-outline-primary" for="radioThemeLight">Light</label>

    </div>

  </div>
</div>
